[submodule "geographic_info"]
	path = geographic_info
	url = https://github.com/udrg/geographic_info
[submodule "microstrain_3dm_gx3_45"]
	path = microstrain_3dm_gx3_45
	url = https://github.com/udrg/microstrain_3dm_gx3_45
[submodule "pointgrey_camera_driver"]
	path = pointgrey_camera_driver
	url = https://github.com/udrg/pointgrey_camera_driver
[submodule "unique_identifier"]
	path = unique_identifier
	url = https://github.com/udrg/unique_identifier
[submodule "microstrain_3dmgx2_imu"]
	path = microstrain_3dmgx2_imu
	url = https://github.com/udrg/microstrain_3dmgx2_imu.git
