<launch>

  <!-- Launch the vi-sensor driver -->
  <include file="$(find vins_launch)/launch/vi-sensor.launch" />

  <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="tf_cam0" args="0 0 0 0 0 0 1 stereo cam0 100" />
  <node pkg="tf" type="static_transform_publisher" name="tf_cam1" args="-0.11094355 -0.00013542 0.00063017 -0.00260781 -0.00196235 0.0010162 0.99999416 stereo cam1 100" />

  <!-- Run the stereo image proc -->
  <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
    <remap from="/stereo/left/image_raw" to="/cam0/image_raw" />
    <remap from="/stereo/left/camera_info" to="/cam0/camera_info" />
    <remap from="/stereo/right/image_raw" to="/cam1/image_raw" />
    <remap from="/stereo/right/camera_info" to="/cam1/camera_info" />
  </node>

  <!-- Take our rectified images, and calculate our odometry -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
    <remap from="stereo" to="stereo"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="stereo"/>
    <remap from="/stereo/left/camera_info" to="/cam0/camera_info" />
    <remap from="/stereo/right/camera_info" to="/cam1/camera_info" />
  </node>


  <!-- Finally lets do slam to get our post -->
  <node pkg="stereo_slam" type="localization" name="stereo_slam" output="screen">
    <param name="odom_topic" value="/stereo_odometer/odometry"/>
    <param name="camera_topic" value="stereo"/>
    <remap from="/stereo/left/camera_info" to="/cam0/camera_info" />
    <remap from="/stereo/right/camera_info" to="/cam1/camera_info" />
  </node>

  <node pkg="image_view" type="image_view" name="image_view_1" >
    <remap from="image" to="/stereo_odometer/features" />
  </node>

  <node pkg="image_view" type="image_view" name="image_view_2" >
    <remap from="image" to="/stereo_slam/keypoints_clustering" />
  </node>

</launch>