<?xml version="1.0"?>
<launch>

  <!-- Master variables -->
  <arg name="camera_serial" default="0" />
  <arg name="calibrated" default="0" />

  <!-- Launch our ROS camera node -->
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet" args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="camera" />
      <param name="serial" value="$(arg camera_serial)" />
      <param name="frame_rate" value="60" />
    </node>
  </group>

  <!-- imu -->
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_3dmgx2_node" output="screen">
    <!-- <param name="time_offset" value="-0.040" /> -->
    <param name="port"  type="string" value="/dev/ttyACM1" />
    <param name="autostart" type="bool" value="true" />
    <param name="frameid"  type="string" value="imu" />
    <param name="autocalibrate" type="bool" value="true" />
    <param name="angular_velocity_stdev" type="double" value="0.00017" />
  </node>

</launch>