<launch>

  <!-- Launch the usb cam driver -->
  <!-- Note video_device assumes your laptop has a internal webcam -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="75"/>
  </node>

  <!-- For some reason we need a manager nodelet -->
  <node pkg="nodelet" type="nodelet" name="image_proc"  args="manager"/>

  <!-- Take the image and convert it to mono -->
  <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc">
    <remap from="image_raw" to="/usb_cam/image_raw" />
  </node>

  <!-- Display our cropped mono image to the user -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_mono"/>
    <param name="autosize" value="false" />
  </node>
</launch>
